* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 2rem;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #333;
    border-radius: 1rem;
    width: 27rem;
    padding: 2rem;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

body.dark-mode .main {
    background-color: #1e1e1e;
    border-color: #ffffff;
}

h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
    color: #333;
    transition: color 0.3s ease;
}

body.dark-mode h1 {
    color: #ffffff;
}

.display {
    font-size: 2.5rem;
    border: 2px solid #333;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #e0e0e0;
    margin-bottom: 1rem;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

body.dark-mode .display {
    background-color: #333;
    border-color: #ffffff;
}

p {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0.5rem 0;
}

.buttons {
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #333;
    border-radius: 0.5rem;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

body.dark-mode .buttons {
    background-color: #333;
    border-color: #ffffff;
    color: #ffffff;
}

.buttons:hover {
    background-color: #f0f0f0;
    transform: translateY(3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.operation {
    background-color: #ffab40;
}

.operation:hover {
    background-color: #ff6f00;
}

body.dark-mode .operation {
    background-color: #ff6f00;
}

body.dark-mode .operation:hover {
    background-color: #ffab40;
}

.equals {
    background-color: #00e676;
}

.equals:hover {
    background-color: #00c853;
}

body.dark-mode .equals {
    background-color: #00c853;
}

body.dark-mode .equals:hover {
    background-color: #00e676;
}

.clear {
    background-color: #f44336;
}

.clear:hover {
    background-color: #d32f2f;
}

body.dark-mode .clear {
    background-color: #d32f2f;
}

body.dark-mode .clear:hover {
    background-color: #f44336;
}

.number {
    background-color: #ffffff;
}

.number:hover {
    background-color: #e0e0e0;
}

body.dark-mode .number:hover {
    background-color: #555;
}

.hideElement {
    visibility: hidden;
}

.opac {
    opacity: 50%;
    transition: ease-in-out;
}

.mode-toggle {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0c0c0c;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    padding: 0.5rem 1rem;
    margin: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
}

body.dark-mode .mode-toggle {
    background-color: #c0c0c0;
    color: black;
}

/* Responsividade */
@media (max-width: 768px) {
    .main {
        width: 20rem;
        padding: 1rem;
    }

    .buttons {
        width: 3rem;
        height: 3rem;
        font-size: 1.2rem;
    }

    .display {
        font-size: 1.5rem;
        height: 3rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    .mode-toggle {
        font-size: 0.5rem;
    }
}

@media (max-width: 480px) {
    .main {
        width: 15rem;
        padding: 0.5rem;
    }

    .buttons {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1rem;
    }

    .display {
        font-size: 1.2rem;
        height: 2rem;
    }

    h1 {
        font-size: 1.2rem;
    }
}

@media (max-width: 400px) {
    .mode-toggle {
        position: static;
        margin: 0 0 1rem 0;
    }
}
